:root{
    --primario: #ff7032;
    --oscuro: black;
    --blanco: white;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
}

header{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 10px;
}

ul{
    display: flex;
    list-style-type: none;
}

a{
    padding-right: 30px;
    text-decoration: none;
    color: var(--oscuro);
    font-weight: 500;
}

#img-logo{
    width: 100px;
}

main{
    max-width: 100%;
}

#formulario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    background-color: #f4f4f4;
    padding: 20px;
    gap: 10px;
}

input,select{
    border: none;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    cursor: pointer;
    color: var(--primario);
    font-weight: 500;
    padding: 10px;
    margin:54px;
}

select option{
    color: var(--oscuro);

}

fieldset{
    border: none;
    margin: 50px;
}


fieldset input{
    box-shadow: none;
    margin: 0px;
}

fieldset label{
    margin: 20px;
}

.btn-enviar{
    padding: 10px 35px;
    background-color: var(--primario);
    color:var(--blanco);
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 750;
}

/* parte de boletos adquiridos */




@media (max-width: 1366px) {
    input, select {
        margin: 20px;
        padding: 10px 15px;
    }

    fieldset {
        margin: 20px;
    }

    fieldset label {
        margin: 10px;
    }

    nav {
        padding: 20px 20px 10px;
    }
}

@media (max-width: 1024px) {
    input, select {
        margin: 10px;
    }

    fieldset {
        margin: 10px;
    }

    #formulario {
        flex-direction: column;
    }
}
